<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="todo-list-title">Todos</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            id="todoOwner"
            placeholder="Filter by owner"
            (input)="updateOwner($event.target.value)">
        </mat-form-field>
        <mat-form-field>
          <input matInput
            id="todoContent"
            type="text"
            placeholder="Filter by content"
            (input)="updateBody($event.target.value)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filter by category</mat-label>
          <mat-select
            id="todoCategory"
            (selectionChange)="updateCategory($event.value)">
            <mat-option>All</mat-option>
            <mat-option value="software design">Software design</mat-option>
            <mat-option value="homework">Homework</mat-option>
            <mat-option value="groceries">Groceries</mat-option>
            <mat-option value="video games">Video games</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filter by status</mat-label>
          <mat-select
            id="todoStatus"
            (selectionChange)="updateStatus($event.value)">
            <mat-option>All</mat-option>
            <mat-option value="complete">Complete</mat-option>
            <mat-option value="incomplete">Incomplete</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-accordion *ngIf="todos; else todosError">
          <mat-expansion-panel #elem [id]="todo.body" *ngFor="let todo of this.filteredTodos">
            <mat-expansion-panel-header>

              <mat-panel-title
                *ngIf="!todo.status && todo.category == 'software design'"
                style="font-weight: 600;">
                <mat-icon>code</mat-icon>
                TODO: {{todo.body}}
              </mat-panel-title>

              <mat-panel-title
                *ngIf="!todo.status && todo.category == 'homework'"
                style="font-weight: 600;">
                <mat-icon>local_library</mat-icon>
                TODO: {{todo.body}}
              </mat-panel-title>

              <mat-panel-title
                *ngIf="!todo.status && todo.category == 'groceries'"
                style="font-weight: 600;">
                <mat-icon>store_mall_directory</mat-icon>
                TODO: {{todo.body}}
              </mat-panel-title>

              <mat-panel-title
                *ngIf="!todo.status && todo.category == 'video games'"
                style="font-weight: 600;">
                <mat-icon>games</mat-icon>
                TODO: {{todo.body}}
              </mat-panel-title>

              <mat-panel-title
                *ngIf="todo.status"
                style="font-style: italic; color: gray">
                <mat-icon>done</mat-icon>
                DONE: {{todo.body}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>Owner: {{todo.owner}}</mat-panel-description>
            <mat-panel-description>Category: {{todo.category}}</mat-panel-description>

          </mat-expansion-panel>
        </mat-accordion>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #todosError>
          <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
